body {
  background-color: #222;
  color: white;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}
.app-logo {
  height: 40vmin;
  pointer-events: none;
}
header {
  display: flex;
  background-color: #151414;
  padding: 20px;
  height: 30px;
  align-items: center;
  box-shadow: 0 0 5px 2px #000;
  /* background-image: linear-gradient(to bottom right, #000000, #3c3c3c); */
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: white !important;
  background-color: #333 !important;
  width: 300px;
  height: 150px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  cursor: pointer;
  position: relative;
  font-size: 40px;
  font-weight: bold;
}
.buyin-card {
  background-image: linear-gradient(
    to bottom right,
    #051f00,
    #14882b
  ) !important;
}
.cashout-card {
  background-image: linear-gradient(
    to bottom right,
    #2c0505,
    #b22222
  ) !important;
}
.dealer-tip-card {
  background-image: linear-gradient(
    to bottom right,
    #2c2c05,
    #e5f62c
  ) !important;
}
.rake-card {
  background-image: linear-gradient(
    to bottom right,
    #0b052c,
    #3c27c7
  ) !important;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media screen and (max-width: 400px) {
  .modal-form {
    width: 100%;
    margin: 0 !important;
  }
}
@media screen and (min-width: 600px) {
  .modal-form {
    width: 500px;
  }
}

.modal-content {
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #222;
  padding: 20px;
  display: flex;
}
.tab-content {
  background-color: #222;
  color: white;
  justify-content: center;
  color: white;
  flex-direction: column;
  display: flex;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0 !important;
  padding-top: 20px !important;
}

.modal-header {
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
}

.player-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3b3030;
}
.player-search-autocomplete {
  width: 100%;
}

.player-search-button {
  padding: 10px;
  cursor: pointer;
  font-size: 20px !important;
  height: 54px !important;
}

.MuiSelect-select {
  display: flex !important;
}
