body,
html,
.app {
  color: white;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 30px;
  background-color: rgb(18, 18, 18);
}
